@font-face {
  font-family: "iconfont"; /* Project id 3182761 */
  src: url('iconfont.woff2?t=1646812741539') format('woff2'),
       url('iconfont.woff?t=1646812741539') format('woff'),
       url('iconfont.ttf?t=1646812741539') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-refresh:before {
  content: "\e615";
}

.icon-xiazaidaoru:before {
  content: "\e8c6";
}

.icon-tubiao-zhuzhuangtu:before {
  content: "\eb98";
}

.icon-tubiao:before {
  content: "\e6d8";
}

.icon-ditu:before {
  content: "\e65f";
}

.icon-fanhui:before {
  content: "\e6ff";
}

.icon-wenjian:before {
  content: "\e623";
}

.icon-duliang:before {
  content: "\e614";
}

.icon-shujubiaozhunhua:before {
  content: "\e612";
}

.icon-zhichiduozhongshujuleixing:before {
  content: "\e632";
}

.icon-beizhu:before {
  content: "\e60d";
}

.icon-jiankong:before {
  content: "\e6af";
}

.icon-computeChart:before {
  content: "\e69f";
}

.icon-a-quxiantushuju:before {
  content: "\e66d";
}

.icon-sanjiao3:before {
  content: "\e600";
}

.icon-yewei:before {
  content: "\e609";
}

.icon-tubiao-zhexiantu:before {
  content: "\eb96";
}

.icon-weibiaoti--:before {
  content: "\e60b";
}

.icon-gongcheng-:before {
  content: "\e739";
}

.icon-dingwei:before {
  content: "\e62a";
}

.icon-guanli1:before {
  content: "\e649";
}

.icon-alarm-full:before {
  content: "\e871";
}

.icon-shouye:before {
  content: "\e62d";
}

.icon-xinxi:before {
  content: "\e763";
}

.icon-shebeileijiankongdian:before {
  content: "\ea07";
}

.icon-frequency:before {
  content: "\e6f4";
}

.icon-APIjieru:before {
  content: "\ec16";
}

.icon-xitongguanli_yonghuguanli:before {
  content: "\e629";
}

.icon-wangguan:before {
  content: "\ec5d";
}

.icon-jurassic_user:before {
  content: "\e6a4";
}

.icon-mima:before {
  content: "\e8b2";
}

.icon-xitongshezhi:before {
  content: "\e64f";
}

.icon-guanli:before {
  content: "\e662";
}

.icon-gbaojings:before {
  content: "\e7ce";
}

.icon-guanlian:before {
  content: "\e61f";
}

.icon-kongzhi:before {
  content: "\e650";
}

.icon-shipinjiankong:before {
  content: "\e613";
}

.icon-baojingjilu:before {
  content: "\e67a";
}

.icon-yonghuming-mianxing:before {
  content: "\ea55";
}

.icon-a-gongchengmaogongchengshianquanmaoanquantoukui:before {
  content: "\e7a5";
}

